/* base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECECE6;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    margin-left: 5vw;
    margin-right: 8vw;
}

.site-title {
    font-weight: lighter;
    /* font-family: sans-serif; */
}

.nav-logo {
    margin: 1vw;
    display: flex;
    align-items: center;
}


.navbar {
    margin: 0.5vw;
}

.nav-item {
    color: #A38E68;
    font-size: 2vw;
    text-decoration: none;
    margin: 0.5vw;
}

.nav-item:hover {
    color: #A38E68;
}

.nav-:visited {
    color: #A38E68;
}

main {
    flex: 1;
}

.title {
    text-align: center;
}

.site-title {
    color: #A38E68;
    font-size: 3vw;
    white-space: nowrap;
    font-weight: bold;
}

.card {
    background-color: white;
    margin-bottom: 5vh;
}

.work-img {
    width: auto;
    height: auto;
}

.work-title {
    width: auto;
    /* font-size: clamp(20px, 1vw, 30px); */
    font-size: 1vw;
    white-space: nowrap;
    color: black;
    font-weight: bold;
}

footer {
    height: 5vh;
    width: 100vw;
    color: white;
    background-color: black;
    text-align: center;
}

/* blog_post */
.formpost {
    margin-bottom: 1rem;
}

.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-control:focus {
    box-shadow: none;
}

.avatar img {
    max-width: 150px;
    max-height: 150px;
}

.icon {
    padding: 20px 16px;
}