{% extends 'mysite/base.html' %}


{% block content %}
<div class="container">
    <h2 class="my-4">{{ blog_data.title }}</h2>
    <hr>
    <p>{{ blog_data.created }} by {{ blog_data.author }}</p>
    <hr>
    <p>{{ blog_data.content|linebreaksbr }}</p>
    {% if user.is_authenticated %}
    <hr>
    <div class="d-flex justify-content-center">
        <a href="{% url 'mysite:blog_edit' blog_data.id %}" class="btn btn-warning">編集する</a>
        <a href="{% url 'mysite:blog_delete' blog_data.id %}" class="btn btn-danger">削除する</a>
    </div>
    {% endif %}
</div>
{% endblock content %}