{% extends 'mysite/base.html' %}

{% block content %}
<div class="title">
    <img src="{{ profile_data.topimage.url}}" alt="">
    <h2 class="site-title">YAMASHITA Jumpei PORTFOLIO SITE</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header text-center">文字起こし</h5>
                <div class="card-body">
                    <p>音源（mp3）を自動で文字起こしします</p>
                    <div class="btn btn-primary">詳細</div>
                </div>
                <a href="{% url 'summary:index' %}" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header text-center">Amazonスクレイピング</h5>
                <div class="card-body">
                    <p>準備中</p>
                    <div class="btn btn-primary">詳細</div>
                </div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header text-center">Makuakeスクレイピング</h5>
                <div class="card-body">
                    <p>準備中</p>
                    <div class="btn btn-primary">詳細</div>
                </div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}